01.1-AlgoritmoBurbuja/bin/Debug/net7.0/01.1-AlgoritmoBurbuja.deps.json
01.1-AlgoritmoBurbuja/bin/Debug/net7.0/01.1-AlgoritmoBurbuja.dll
01.1-AlgoritmoBurbuja/bin/Debug/net7.0/01.1-AlgoritmoBurbuja.exe
01.1-AlgoritmoBurbuja/bin/Debug/net7.0/01.1-AlgoritmoBurbuja.pdb
01.1-AlgoritmoBurbuja/bin/Debug/net7.0/01.1-AlgoritmoBurbuja.runtimeconfig.json
01.1-AlgoritmoBurbuja/obj/01.1-AlgoritmoBurbuja.csproj.nuget.dgspec.json
01.1-AlgoritmoBurbuja/obj/01.1-AlgoritmoBurbuja.csproj.nuget.g.props
01.1-AlgoritmoBurbuja/obj/01.1-AlgoritmoBurbuja.csproj.nuget.g.targets
01.1-AlgoritmoBurbuja/obj/project.assets.json
01.1-AlgoritmoBurbuja/obj/project.nuget.cache
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.AssemblyInfo.cs
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.AssemblyInfoInputs.cache
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.assets.cache
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.csproj.AssemblyReference.cache
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.csproj.CoreCompileInputs.cache
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.csproj.FileListAbsolute.txt
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.dll
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.GeneratedMSBuildEditorConfig.editorconfig
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.genruntimeconfig.cache
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.GlobalUsings.g.cs
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/01.1-AlgoritmoBurbuja.pdb
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/apphost.exe
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/ref/01.1-AlgoritmoBurbuja.dll
01.1-AlgoritmoBurbuja/obj/Debug/net7.0/refint/01.1-AlgoritmoBurbuja.dll
02.1-AlgoritmoPorSeleccion/bin/Debug/net7.0/02.1-AlgoritmoPorSeleccion.deps.json
02.1-AlgoritmoPorSeleccion/bin/Debug/net7.0/02.1-AlgoritmoPorSeleccion.dll
02.1-AlgoritmoPorSeleccion/bin/Debug/net7.0/02.1-AlgoritmoPorSeleccion.exe
02.1-AlgoritmoPorSeleccion/bin/Debug/net7.0/02.1-AlgoritmoPorSeleccion.pdb
02.1-AlgoritmoPorSeleccion/bin/Debug/net7.0/02.1-AlgoritmoPorSeleccion.runtimeconfig.json
02.1-AlgoritmoPorSeleccion/obj/02.1-AlgoritmoPorSeleccion.csproj.nuget.dgspec.json
02.1-AlgoritmoPorSeleccion/obj/02.1-AlgoritmoPorSeleccion.csproj.nuget.g.props
02.1-AlgoritmoPorSeleccion/obj/02.1-AlgoritmoPorSeleccion.csproj.nuget.g.targets
02.1-AlgoritmoPorSeleccion/obj/project.assets.json
02.1-AlgoritmoPorSeleccion/obj/project.nuget.cache
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.AssemblyInfo.cs
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.AssemblyInfoInputs.cache
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.assets.cache
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.csproj.AssemblyReference.cache
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.csproj.CoreCompileInputs.cache
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.csproj.FileListAbsolute.txt
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.dll
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.GeneratedMSBuildEditorConfig.editorconfig
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.genruntimeconfig.cache
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.GlobalUsings.g.cs
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/02.1-AlgoritmoPorSeleccion.pdb
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/apphost.exe
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/ref/02.1-AlgoritmoPorSeleccion.dll
02.1-AlgoritmoPorSeleccion/obj/Debug/net7.0/refint/02.1-AlgoritmoPorSeleccion.dll
03.1-AlgoritmoPorInsercion/bin/Debug/net7.0/03.1-AlgoritmoPorInsercion.deps.json
03.1-AlgoritmoPorInsercion/bin/Debug/net7.0/03.1-AlgoritmoPorInsercion.dll
03.1-AlgoritmoPorInsercion/bin/Debug/net7.0/03.1-AlgoritmoPorInsercion.exe
03.1-AlgoritmoPorInsercion/bin/Debug/net7.0/03.1-AlgoritmoPorInsercion.pdb
03.1-AlgoritmoPorInsercion/bin/Debug/net7.0/03.1-AlgoritmoPorInsercion.runtimeconfig.json
03.1-AlgoritmoPorInsercion/obj/03.1-AlgoritmoPorInsercion.csproj.nuget.dgspec.json
03.1-AlgoritmoPorInsercion/obj/03.1-AlgoritmoPorInsercion.csproj.nuget.g.props
03.1-AlgoritmoPorInsercion/obj/03.1-AlgoritmoPorInsercion.csproj.nuget.g.targets
03.1-AlgoritmoPorInsercion/obj/project.assets.json
03.1-AlgoritmoPorInsercion/obj/project.nuget.cache
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.AssemblyInfo.cs
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.AssemblyInfoInputs.cache
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.assets.cache
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.csproj.AssemblyReference.cache
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.csproj.CoreCompileInputs.cache
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.csproj.FileListAbsolute.txt
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.dll
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.GeneratedMSBuildEditorConfig.editorconfig
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.genruntimeconfig.cache
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.GlobalUsings.g.cs
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/03.1-AlgoritmoPorInsercion.pdb
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/apphost.exe
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/ref/03.1-AlgoritmoPorInsercion.dll
03.1-AlgoritmoPorInsercion/obj/Debug/net7.0/refint/03.1-AlgoritmoPorInsercion.dll
04.1-AlgoritmoQuicksort/bin/Debug/net7.0/04.1-AlgoritmoQuicksort.deps.json
04.1-AlgoritmoQuicksort/bin/Debug/net7.0/04.1-AlgoritmoQuicksort.dll
04.1-AlgoritmoQuicksort/bin/Debug/net7.0/04.1-AlgoritmoQuicksort.exe
04.1-AlgoritmoQuicksort/bin/Debug/net7.0/04.1-AlgoritmoQuicksort.pdb
04.1-AlgoritmoQuicksort/bin/Debug/net7.0/04.1-AlgoritmoQuicksort.runtimeconfig.json
04.1-AlgoritmoQuicksort/obj/04.1-AlgoritmoQuicksort.csproj.nuget.dgspec.json
04.1-AlgoritmoQuicksort/obj/04.1-AlgoritmoQuicksort.csproj.nuget.g.props
04.1-AlgoritmoQuicksort/obj/04.1-AlgoritmoQuicksort.csproj.nuget.g.targets
04.1-AlgoritmoQuicksort/obj/project.assets.json
04.1-AlgoritmoQuicksort/obj/project.nuget.cache
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.AssemblyInfo.cs
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.AssemblyInfoInputs.cache
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.assets.cache
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.csproj.AssemblyReference.cache
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.csproj.CoreCompileInputs.cache
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.csproj.FileListAbsolute.txt
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.dll
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.GeneratedMSBuildEditorConfig.editorconfig
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.genruntimeconfig.cache
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.GlobalUsings.g.cs
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/04.1-AlgoritmoQuicksort.pdb
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/apphost.exe
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/ref/04.1-AlgoritmoQuicksort.dll
04.1-AlgoritmoQuicksort/obj/Debug/net7.0/refint/04.1-AlgoritmoQuicksort.dll
